<header>
  <nav>
    <button class="nav-buttons" id="logo">Smart ToDo</button>

    <div class="nav">
      <button class="nav-buttons" id="to-watch"><i class="fa-solid fa-tv" style="color: #1f4751;"></i>&nbsp;&nbsp;To-Watch</button>
      <button class="nav-buttons" id="to-eat"><i class="fa-solid fa-utensils" style="color: #1f4751;"></i>&nbsp;&nbsp;To-Eat</button>
      <button class="nav-buttons" id="to-read"><i class="fa-solid fa-book" style="color: #1f4751;"></i>&nbsp;&nbsp;To-Read</button>
      <button class="nav-buttons" id="to-buy"><i class="fa-solid fa-cart-shopping" style="color: #1f4751;"></i>&nbsp;&nbsp;To-Buy</button>
    </div>

    <div class="nav">
      <% if (!user) { %>
        <a class="nav-buttons" href="/lists">Register</a>
        <a class="nav-buttons" href="/login">Login</a>
      <% } else { %>
        <a class="logged-in-as">Logged in as: <%= user.name %></a>
        <a class="nav-buttons" href="/profile">Profile</a>
        <a class="nav-buttons" href="/logout">Logout</a>
        <% } %>
    </div>
  </nav>
</header>
