<header>
  <nav>
    <a>Logo</a>

    <div>
      <a class="nav-buttons" href="/lists/:id">To-Watch&nbsp;&nbsp;&nbsp;</a>
      <a class="nav-buttons" href="/lists/:id">To-Eat&nbsp;&nbsp;&nbsp;</a>
      <a class="nav-buttons" href="/lists/:id">To-Read&nbsp;&nbsp;&nbsp;</a>
      <a class="nav-buttons" href="/lists/:id">To-Buy&nbsp;&nbsp;&nbsp;</a>
    </div>

    <div>
      <a class="nav-buttons" href="/lists">Register&nbsp;&nbsp;</a>
      <a class="nav-buttons" href="/lists">Login</a>
    </div>
  </nav>
</header>
