<header>
  <nav>
    <a>Logo</a>

    <div>
      <button class="nav-buttons" id="to-watch">To-Watch</button>
      <a class="nav-buttons" href="/lists/:id">To-Eat</a>
      <a class="nav-buttons" href="/lists/:id">To-Read</a>
      <a class="nav-buttons" href="/lists/:id">To-Buy</a>
    </div>

    <div>
      <a class="nav-buttons" href="/lists">Register</a>
      <a class="nav-buttons" href="/login">Login</a>
    </div>
  </nav>
</header>
