<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart ToDo</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/nav-bar.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/new-task.css" />
  <link rel="stylesheet" href="/styles/list-items.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&display=swap">


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/nav-bar-functionality.js"></script>
  <script defer src="/scripts/logo.js"></script>
  <script defer src="/scripts/form.js"></script>
  <script defer src="/scripts/edit-category.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <form class="task-submission" id="task-submission">
      <label for="task-input">Enter a new task:&nbsp;</label>
      <textarea name="task" id="task-input"></textarea>&nbsp;&nbsp;
      <button id='create-new-task' type="submit">Create</button>
    </form>
  <section id="to-do-container"></section>
  </main>
</body>

</html>
