.list-item {
  margin-top: 20px;
  height: 100px;
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-title {
  padding-left: 5px;
}

.item-category {
  padding-right: 5px;
  padding-left: 5px;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
}


#new-category-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#category-input {
  height: 25px;
}



