form.user-login {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 8em;
}

button.login {
  width: 45%;
  align-self: center;
  height: 30px;
  align-self: center;
  border: none;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

input {
  width: 230px;
}