header {
  width: 100%
}

#logo {
  font-family: 'Righteous';
  font-size: 36px;
}

nav {
  display: flex;
  justify-content: space-between;
  background: darkcyan;
  padding: 2em 0.5em;
  font-size: large;
  font-weight: 800;
  color: white;
}

div.nav {
  align-self: center;
}

.nav-buttons {
  color: white;
  background: darkcyan;
  text-decoration: none;
  font-size: 20px;
  padding: 0 1em;
  border: none;
  cursor: pointer;
}

a.logged-in-as {
  color: gainsboro;
  font-size: medium;
  font-weight: 500;
}