.task-submission {
  width: 50%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

#task-input {
  border: none;
  border-bottom: 2.5px solid black;
  width: 65%;
  height: 20px;
  resize: none;
  outline: none;
  overflow: hidden;
  background: none;
}