form.user-profile {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 5em;
}

button.update-profile {
  width: 45%;
  height: 30px;
  align-self: center;
  border: none;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

label.user-id,
input#user-id {
  display: none;
}